@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --icon__color: hsla(216, 12%, 54%, .1);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

body {
    min-height: 100vh;
    font-family: "Overpass", sans-serif;
    font-size: 15px;
    background-color: var(--very-dark-blue);
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container > [data-active] {
    width: 375px;
    height: fit-content;
    background-color: var(--dark-blue);
    border-radius: 25px;
    padding: 1rem 2rem;
}

.container > [data-active] .icon {
    border-radius: 50%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 1rem;
    margin: 1em 0;
    background-color: var(--icon__color);
    color: var(--orange);
    margin-bottom: 2rem;
}

.container > [data-active] h3 {
    color: var(--white);
    font-size: 1.5rem;
    margin: .75rem 0;
}

.container > [data-active] .feedback {
    color: var(--medium-grey);
    line-height: 1.5;
}

.container > [data-active] .numbers {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.container > [data-active] .numbers .number {
    border-radius: 50%;
    background-color: var(--icon__color);
    color: var(--medium-grey);
    padding: 1rem;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: all .15s linear;
}

.container > [data-active] .numbers .number.outdated {
    opacity: .75;
    cursor: default;
}

.container > [data-active] .numbers .number.selected {
    background-color: var(--light-grey);
    color: var(--white);
    cursor: default;
}

.container > [data-active] .numbers .number:hover:not(.selected):not(.outdated) {
    color: var(--white);
    background-color: var(--orange);
}

.container > [data-active] .submit {
    background-color: var(--orange);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 50px;
    text-align: center;
    color: var(--white);
    padding: .75em;
    margin-top: 25px;
    margin-bottom: 15px;
    transition: all .15s linear;
}

.container > [data-active] .submit:hover {
    color: var(--orange);
    background-color: var(--white);
}

.container > [data-active="true"] {
    display: block;
}

.container > [data-div="rated"] {
    text-align: center;
}

.thank_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.selection {
    color: var(--orange);
    text-align: center;
    background-color: var(--icon__color);
    border-radius: 50px;
    padding: .5rem;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.container > [data-active="false"] {
    display: none;
}

@media (max-width: 375px) {
    .container {
        width: 90%;
        margin: 0 auto;
        font-size: .7em;
    }
}
